<?xml version="1.0"?>
<!-- 配置内容在configuration之间-->
<configuration>
	<!--键值对-->
	<appSettings>
		<add key="CrystalImageCleaner-AutoStart" value="true" />
		<add key="CrystalImageCleaner-Sleep" value="60000" />
		<add key="CrystalImageCleaner-Age" value="120000" />
	</appSettings>
	<!--数字连接字符串-->
	<connectionStrings>
		<add name="ConStr" connectionString="server=.;database=db_WL;uid=sa;pwd=;"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true">
			<assemblies>
			</assemblies>
		</compilation>
	<authentication mode="Windows"/>
	<httpHandlers>
	</httpHandlers>
	</system.web>
</configuration>